In [10]:
import math
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('electronics.csv')
df.head()

           age  income student credit_rating isBuy
0        youth    high      no          fair    no
1        youth    high      no     excellent    no
2  middle_aged    high      no          fair   yes
3       senior  medium      no          fair   yes
4       senior     low     yes          fair   yes

In [21]:
info_total = 0
total_len = len(df)
unique_classes = {}
vals = []
for col in df.columns:
    unique_classes[col] = list(df[col].unique())
for class_d in unique_classes['isBuy']:
    vals.append(len(df[df['isBuy'] == class_d]))
for val in vals:
    info_total -= val/total_len * math.log((val/total_len), 2)
info_total

['no', 'yes']

In [20]:
info_age = 0
age_vals = []
age_classes = []
for class_d in unique_classes['age']:
    age_vals.append(len(df[df['age'] == class_d]))
for class_d in unique_classes['age']:
    age_classes.append(df.loc[df['age'] == class_d, 'isBuy'])
for item in age_classes

3