In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('electronics.csv')
df.head()

           age  income student credit_rating isBuy
0        youth    high      no          fair    no
1        youth    high      no     excellent    no
2  middle_aged    high      no          fair   yes
3       senior  medium      no          fair   yes
4       senior     low     yes          fair   yes

In [6]:
total_len = len(df)
unique_classes = {}
for col in df.columns:
    unique_classes[col] = list(df[col].unique())
unique_classes['isBuy']

KeyError: 'isBuy'